<main class="container">

    <br>
    <br>

    <div class="grid">
        <button *ngFor="let complexity of complexities"
            [ngClass]="{'selected': chosenComplexity === complexity}"
            (click)="chooseComplexity($event, complexity)">
            {{ complexity }}
        </button>
        <button (click)="clearResults()"> clear </button>
        <button (click)="doRevealAll()"> reveal </button>
        <button (click)="doHideAll()"> hide </button>

    </div>

    <br>
    <br>

    <div class="grid">

        <div>
            <div *ngFor="let complexity of complexities">
                <div>
                    <span> [{{ complexity }}] </span>
                    <span *ngFor="let voter of getVoters(complexity)">
                        {{ voter }}
                    </span>
                    <span>
                        <progress [max]="connectedUsers.length" [value]="getVal(complexity)"></progress>
                    </span>
                </div>
            </div>

        </div>

        <div></div>

        <div>
            <ul id="connected_users">
                <li *ngFor="let user of connectedUsers"> 
                    <span> {{ user.name }} </span>
                    <span> {{ user.choice !== -1 ? '✓' : 'X' }} </span>
                </li>
            </ul>
        </div>
    </div>

</main>
